<!DOCTYPE html>
<html>
    <head>
        <title>Book List</title>
    </head>
    <body>
        <h1>Book List</h1>
        <ul>
            {% if books %}
            {% for book in books %}
            <li>
                <a href="{% url 'book-detail' book.pk %}">
                    {{ book.title }} by {{ book.author }}
                </a>
            </li>
            {% endfor %}
            {% else %}
            <li>No books available.</li>
            {% endif %}
        </ul>
    </body>
</html>